<?xml version="1.0"?>
<config>
    <modules>
        <Book_Brands>
            <version>0.1.0</version>
        </Book_Brands>
    </modules>
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>Book_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <brands>
                <use>admin</use>
                <args>
                    <module>Book_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <brands module="brands">
                <title>Brands</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="brands">
                        <title>Manage Brands</title>
                        <sort_order>0</sort_order>
                        <action>brands/adminhtml_brands</action>
                    </items>
                </children>
            </brands>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Book_Brands>
                            <title>Brands Module</title>
                            <sort_order>10</sort_order>
                        </Book_Brands>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <brands>
                <class>Book_Brands_Model</class>
                <resourceModel>brands_mysql4</resourceModel>
            </brands>
            <brands_mysql4>
                <class>Book_Brands_Model_Mysql4</class>
                <entities>
                    <brands>
                        <table>brands</table>
                    </brands>
                </entities>
            </brands_mysql4>
        </models>
        <resources>
            <brands_setup>
                <setup>
                    <module>Book_Brands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brands_setup>
            <brands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brands_write>
            <brands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brands_read>
        </resources>
        <blocks>
            <brands>
                <class>Book_Brands_Block</class>
            </brands>
        </blocks>
        <helpers>
            <brands>
                <class>Book_Brands_Helper</class>
            </brands>
        </helpers>
    </global>
</config>
